{{ partial:container }}
    {{ partial:prose }}
        {{ content | widont }}
    {{ /partial:prose }}

    <article class="mt-12 flex flex-col sm:flex-row gap-6">
        <a class="flex-shrink-0" href="https://basecodefieldguide.com/podcast">
            <img class="w-40 h-40 border" src="https://basecodefieldguide.com/podcast/assets/img/logo.png" />
        </a>
        <div>
            <h2 class="font-medium text-gray-800">
                <a href="https://basecodefieldguide.com/podcast" class="hover:underline focus:underline">
                    BaseCode
                </a>
            </h2>
            <p class="mt-3 text-sm text-gray-500 leading-relaxed">
                In 2018 I teamed up with Jason McCreary, aka JMac, to start the BaseCode Podcast. We talk about topics such as writing maintainable code, automated testing, and running a SaaS.
            </p>
            <p class="mt-3 text-sm text-gray-500 leading-relaxed">
                <a href="https://basecodefieldguide.com/podcast">Check out the BaseCode Podcast website</a> and find us on your favourite podcasting app.
            </p>
        </div>
    </article>

    <div class="mt-16 border-t">
        <h2 class="mt-6 text-xs uppercase tracking-wide text-center text-gray-400">Guest appearances</h2>
    </div>

    {{
        partial:podcast-card
        podcast="Things Worth Learning - Episode 21"
        title="Neovim, with Jess Archer"
        description="In this episode, Jess Archer, a full-stack developer, programmer at Laravel and podcaster, talks with us about her favorite text editor, Neovim. She explains what it is, how it works, how to install it and why she prefers it over Vim. We also discuss intentionally going outside of our comfort zones, and the importance of making that choice in order to grow."
        link="https://thingsworthlearning.show/episodes/neovim-with-jess-archer"
        thumbnail="https://image.simplecastcdn.com/images/12a1f310-35d6-4a0f-b316-33385a9f5bcf/c6b59498-7aa7-4f49-b37d-057b2b0eb012/300x300/tw-profilepicture-3000.jpg"
    }}

    {{
        partial:podcast-card
        podcast="DevJourney - Episode 203"
        title="Jess Archer found her people in the Laravel community"
        description="Jess told us about the toys she disassembled (and sometimes failed to reassemble) as a kid. She then spoke about her early dabbling with HTML, discovering IF statements and PHP. We then talked about writing vs. using CMSs, creating websites, working in teams, contracting and consulting, and finally about communities and Jess's Podcast: BaseCode."
        link="https://devjourney.info/Guests/203-JessArcher.html"
        thumbnail="https://storage.buzzsprout.com/variants/q7im48q19btctuszl5v08qs3igwm/60854458c4d1acdf4e1c2f79c4137142d85d78e379bdafbd69bd34c85f5819ad"
    }}

    {{
        partial:podcast-card
        podcast="The Laravel Podcast - Season 4, Episode 20"
        title="APIs, with Jess Archer"
        description="We all interact with APIs, even if we don't write them, right? The APIs that power our mobile apps, the APIs we use in our code. But Jess Archer wants you to know there's a whole wide world of what API even means, broader than we usually use it... but then we'll also get down to the real details about the best practices for writing web-based RESTish APIs in Laravel."
        link="https://laravelpodcast.com/episodes/apis-with-jess-archer"
        thumbnail="https://image.simplecastcdn.com/images/12a1f310-35d6-4a0f-b316-33385a9f5bcf/8947f6eb-a841-4698-a531-daea12c4120e/300x300/laravel-podcast-season-four.jpg"
    }}

    {{
        partial:podcast-card
        podcast="Happy Dev - Episode 4"
        title="Jess Archer"
        description="This episode I speak to Jess Archer. Jess has worked with PHP and Javascript professionally for the last 15 years and is currently working as a contractor. We discuss being a woman in tech, imposter syndrome, how being public about your mental health can affect employment opportunities and more."
        link="https://www.happydev.fm/s1/4"
        thumbnail="https://images.transistor.fm/file/transistor/images/show/5037/medium_1578472744-artwork.jpg"
    }}
{{ /partial:container }}
