/node_modules
/public/css
/public/hot
/public/js
/public/storage
/public/vendor/statamic
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea
/.vscode
