.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.btn {
    @apply font-semibold inline-block no-underline px-4 py-2 rounded;

    &:focus {
        @apply outline-none shadow-outline;
    }
}

.btn-sm {
    @apply border-b-0 px-3 py-1;
}

.btn-gray {
    @apply bg-gray-700 text-white;

    &:hover {
      @apply bg-gray-900 text-white;
    }
}

.btn-outline-gray {
    @apply bg-white border border-gray-500 text-gray-700;

    &:hover {
        @apply bg-gray-700 border-transparent text-white;
    }
}
