@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Regular.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-RegularIt.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Semibold.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-SemiboldIt.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Bold.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-BoldIt.woff") format("woff"),
    url("/assets/build/fonts/vendor/proxima-nova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
