/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

$pn-font-path: '../fonts/vendor/proxima-nova';

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("#{$pn-font-path}/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-Regular.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("#{$pn-font-path}/ProximaNova-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-Semibold.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

$fa-font-path: '../fonts/vendor/fontawesome';

@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
