@tailwind preflight;
@tailwind components;

@import '~highlight.js/styles/atom-one-dark.css';

@import 'base';

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

$pn-font-path: '../fonts/vendor/proxima-nova';

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("#{$pn-font-path}/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-Regular.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("#{$pn-font-path}/ProximaNova-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-Semibold.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.eot?#iefix")
      format("embedded-opentype"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.woff") format("woff"),
    url("#{$pn-font-path}/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

$fa-font-path: '../fonts/vendor/fontawesome';

@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

/*
 * Buttons
 */

.btn {
    @apply
        font-semibold
        inline-block
        no-underline
        px-4
        py-2
        rounded;
    &:focus {
        @apply
            outline-none
            shadow-outline;
    }
}

.btn-sm {
    @apply
        border-b-0
        px-3
        py-1;
}

.btn-grey {
    @apply
        bg-grey-darkest
        text-white;

    &:hover {
        @apply
            bg-black
            text-white;
    }
}

.btn-outline-grey {
    @apply
        bg-white
        border
        border-grey-dark
        text-grey-darker;
    &:hover {
        @apply
            bg-grey-darker
            border-transparent
            text-white;
    }
}
